@import url(https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300);

.title {

    text-align: center; 
    background-color: #b6c454; 
    color: #f2f4f3;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 50px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.topnav {
    background-color: #b6c454;
    overflow: hidden;
    padding-bottom: 0.5em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f4f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.3em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#000000
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color:#000000
  }

.open_statement {
  background-color:rgba(242, 244, 243, 0.8);
  margin-top: 2em;
  margin-left: 7em;
  margin-right: 7em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-family: 'Roboto';
}


.featured {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.takeout_svc {
  text-align: center;
  font-family: 'Montserrat';
}

.takeout_pic {

}
  .takeout_pic img {
    width: 700px; 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 2em;

  }
  .takeout_pic img:hover{
    opacity: 0.5;
  }

footer {
  text-align: center; 
  margin-top: 5em;
}